@use "colors" as *;

// Title and sidebar titles are really ugly otherwise
.course-title,
.list-view a.active {
    color: inherit !important;
}

// Visibility icon
.nav-icon {
    background: none;
    color: $text;
}

// Assignments container
.item-group-container {
    background: none;
}

// Assignment header and assignment itself
.ig-header,
.ig-row {
    background: $bg-darker !important;
}