@use "colors" as *;

// Pages
@use "dash";
@use "course";

// Miscellaneous components
@use "elements";

body,
.ic-app {
    background: $bg;
}

// Override globals used for colors in many places
:root {
    --ic-brand-global-nav-bgd: #{$bg};
    --ic-link-color: #{$highlight};
    --ic-link-color-darkened-10: #{$highlight};
    --ic-brand-font-color-dark-lightened-15: #{$highlight};
    --ic-brand-font-color-dark: #{$text};
    // Some highlights
    // To-do notification background
    --ic-brand-primary: #{$highlight};
    --ic-brand-primary-lightened-15: #{$highlight};
    // Sidebar notification background
    --ic-brand-global-nav-menu-item__badge-bgd: #{$highlight};
    // Sidebar active icon color
    --ic-brand-global-nav-ic-icon-svg-fill--active: #{$highlight};
}